* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat;
}

.header_cart {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 67.2px;
}

.menu-burger {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 14px;
    right: 20px;
    border-radius: 4px;
    z-index: 10;
}

body.overflow {
    overflow: hidden;
}

.menu-burger span {
    width: 30px;
    height: 3px;
    background-color: rgb(42, 42, 42);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
}

.menu-burger.clicked span {
    width: 30px;
    height: 30px;
    background: transparent;
    position: absolute;
    top: 30px;
    margin-left: -15px;
    margin-top: -15px;
}

.menu-burger.clicked span::after {
    transform: translateY(-9px) rotate(-45deg);
}

.menu-burger.clicked span::before {
    transform: translateY(9px) rotate(45deg);
}

.menu-burger span::before, .menu-burger span::after {
    position: absolute;
    content: "";
}

.menu-burger span::before {
    top: -9px;
}

.menu-burger span::after {
    top: 9px;
}

.menu-burger span, .menu-burger span::before, .menu-burger span::after {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    outline: transparent solid 1px;
    transition-duration: 0.3s;
}

.menu-burger.clicked span::before, .menu-burger.clicked span::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out 0s;
}

.menu-burger:hover {
    cursor: pointer;
}

.nav_menu-burger {
    background-color: rgb(42, 42, 42);
    position: fixed;
    z-index: 9;
    top: 0px;
    right: 0px;
    height: 100%;
    max-width: 515px;
    width: 100%;
    padding: 100px 40px 60px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}

.nav_menu-burger.show .menu-burger_about, .nav_menu-burger.show .menu-burger_social, .nav_menu-burger.show ul.menu-burger_sub {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: 0.85s;
}

.nav_menu-burger.show {
    transform: translateX(0px);
}

@media (min-width: 667px) {
    .nav_menu-burger {
        padding: 120px 90px 70px;
    }
}

ul.main_menu-burger {
    list-style-type: none;
}

.nav_menu-burger.show ul.main_menu-burger li {
    transform: translateX(0px);
    opacity: 1;
}

ul.main_menu-burger li {
    color: white;
    margin-bottom: 10px;
    transform: translateX(40px);
    opacity: 0;
    transition: all 0.3s ease 0s;
}

ul.main_menu-burger li:last-of-type {
    margin-bottom: 0px;
}

.nav_menu-burger.show ul.main_menu-burger li:nth-child(1) {
    transition-delay: 0.15s;
}

.nav_menu-burger.show ul.main_menu-burger li:nth-child(2) {
    transition-delay: 0.3s;
}

.nav_menu-burger.show ul.main_menu-burger li:nth-child(3) {
    transition-delay: 0.45s;
}

.nav_menu-burger.show ul.main_menu-burger li:nth-child(4) {
    transition-delay: 0.6s;
}

ul.main_menu-burger li a {
    color: white;
    font-family: Montserrat;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 10px 0px;
    transition: all 0.3s ease 0s;
}

ul.main_menu-burger li a span {
    color: rgb(183, 172, 127);
}

ul.main_menu-burger li a:hover {
    color: rgb(183, 172, 127);
}

.menu-burger_about {
    margin-top: 30px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.4s ease 0s;
}

.menu-burger_about p {
    color: white;
    font-family: Montserrat;
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 150%;
}

.menu-burger_social {
    margin-top: 20px;
    position: relative;
    padding-bottom: 30px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.4s ease 0s;
}

.menu-burger_social::after {
    content: "";
    width: 230px;
    height: 2px;
    background-color: rgb(183, 172, 127);
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.menu-burger_social a {
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

.menu-burger_social a i {
    font-size: 30px;
    color: white;
}

.menu-burger_social a:last-of-type {
    margin-right: 0px;
}

.menu-burger_social a:hover svg path, .menu-burger_social a:hover svg circle {
    fill: rgb(183, 172, 127);
}

.menu-burger_social a svg {
    width: 100%;
    height: 100%;
}

.menu-burger_social a svg path, .menu-burger_social a svg circle {
    fill: white;
    transition: all 0.3s ease 0s;
}

ul.menu-burger_sub {
    list-style-type: none;
    margin-top: 20px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.4s ease 0s;
}

ul.menu-burger_sub li {
    margin-bottom: 10px;
}

ul.menu-burger_sub li:last-of-type {
    margin-bottom: 0px;
}

ul.menu-burger_sub li a {
    color: white;
    font-family: Montserrat;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

ul.menu-burger_sub li a:hover {
    color: rgb(183, 172, 127);
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out 0s;
    background-color: rgba(0, 0, 0, 0.59);
    opacity: 0;
    visibility: hidden;
}

.overlay.show {
    opacity: 0.8;
    visibility: visible;
}

.container__navbar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

.container__navbar p {
    cursor: pointer;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    z-index: 4;
    position: relative;
    font-family: Montserrat;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a {
    text-transform: uppercase;
    letter-spacing: 1.3px;
    z-index: 10;
    position: relative;
    font-family: Montserrat;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    z-index: 10;
    content: "";
    position: absolute;
    top: 110%;
    left: 0px;
    width: 0px;
    height: 1.9px;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}

.navbar a:nth-child(3)::before {
    width: 100%;
}

.navbar a:hover::before {
    width: 100%;
}

.footer {
    background: url("../img/MainBackground.png");
}

.container-footer {
    padding-top: 55px !important;
}

.wrap {
    max-width: 1150px;
    padding: 0px 25px;
    margin: 0px auto;
}

.order-cart__header {
    position: relative;
    margin-top: 35px;
}

.title-dotted {
    position: relative;
    margin: 0px 0px 1em;
}

.page__title {
    margin: 25px 0px;
}

.title-dotted span {
    font-size: 37px;
    font-family: Montserrat;
    font-weight: 700;
    display: inline;
    background-color: rgb(255, 255, 255);
    padding: 0px 5px 0px 0px;
    position: relative;
    z-index: 1;
}

.title-dotted::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    top: 25px;
    left: 0px;
    background: url("https://arenter.ru/assets/images/dotted-grey.svg") repeat-x;
}

.order-cart__qty {
    position: absolute;
    top: -8px;
    right: -15px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(255, 49, 49);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 13px;
    font-family: Montserrat;
}

.order-cart__list {
    margin-bottom: 15px;
}

.order-list__date {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 2px;
    padding: 20px 25px 0px;
    margin-bottom: 12px;
}

.order-list__row {
    display: flex;
    flex-direction: column;
    position: relative;
}

.order-list__i {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px 15px;
}

.order-list__i-img {
    position: relative;
    text-align: center;
}

.order-list__i-img img {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 2px;
    max-height: fit-content;
    max-width: 70%;
    display: inline-block;
    vertical-align: middle;
}

.order-list__i-img-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.05);
}

.order-list__i-content {
    flex: 0 0 78%;
    display: flex;
    position: relative;
}

.order-list__i-content .order-list__i-namebox {
    display: inline-block;
}

@media (max-width: 1150px) {
    .order-list__i-namebox {
        margin: 0px 28px 0px 15px;
    }
}

.order-list__i-namebox {
    width: calc(100% - 460px);
    padding: 0px 0px 45px;
    margin: 0px 20px;
    position: relative;
}

.order-list__i-tarif, .order-list__i-type {
    font-size: 13px;
    text-transform: uppercase;
    color: rgb(122, 122, 122);
}

.order-list__i-namebox a {
    color: black;
    text-decoration: none;
    display: block;
}

.order-list__i-name {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
}

.order-list__i-info {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.order-list__i-available {
    height: fit-content;
    font-size: 14px;
}

.order-list__i-date {
    margin-top: 10px;
    margin-bottom: 20px;
}

.date-wrapper {
    position: relative;
}

.order-list__datepicker {
    width: 200px;
    position: relative;
}

.order-list__datepicker .datepicker.is-open {
    z-index: 4;
}

.order-list__datepicker .datepicker {
    width: 100%;
    z-index: 3;
}

.date-range {
    cursor: pointer;
}

.datepicker {
    height: 42px;
}

.datepicker {
    width: 260px;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    font-size: 13px;
    line-height: 16px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(210, 210, 210);
    height: 30px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.rub i {
    color: white;
    font-size: 25px;
}

.datepicker__data {
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
    white-space: nowrap;
    line-height: 1;
    background-color: transparent !important;
}

.datepicker__icon-sep {
    position: relative;
    z-index: -1;
    display: inline-block;
    width: 12px;
    height: 14px;
    margin: 0px 8px;
    background: url("https://arenter.ru/assets/images/arrow-next.svg") center center / 100% no-repeat;
}

.datepicker__icon {
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.48);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    right: 2px;
    text-align: center;
    transition: background-color 0.2s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datepicker__icon i {
    font-size: 22px;
    color: rgb(255, 255, 255);
}

.icon {
    display: inline-block;
    vertical-align: middle;
    fill: currentcolor;
    transition: fill 0.2s ease 0s;
}

.icon-calendar {
    font-size: 1.91rem;
    width: 1em;
}

.order-list__i-price {
    margin-right: 32px;
    text-align: right;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.order-list__i-price-total {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 44px;
}

.order-list__i-price-total .rub {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.48);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 36px;
}

.rub {
    font-family: rub;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
}

.order-list__i-price-day {
    text-align: right;
    color: rgb(134, 134, 134);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    line-height: 1;
    margin-top: 3px;
}

.order-list__i-price-day strong {
    color: rgb(134, 134, 134);
    font-size: 18px;
    font-weight: 600;
}

.order-list__i-del {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    top: 8px;
    width: 26px;
    height: 26px;
    background-color: rgb(255, 255, 255);
    font-size: 0px;
    line-height: 22px;
    text-align: center;
    color: rgb(132, 132, 132);
    cursor: pointer;
    border: 2px solid rgb(132, 132, 132);
    border-radius: 50%;
    transition: all 0.2s ease 0s;
}

.order-list__i-del i {
    color: rgb(132, 132, 132);
    font-size: 20px;
}

.order-list__i-del:hover {
    background-color: rgb(255, 215, 52);
    border: 2px solid rgb(255, 215, 52);
    color: rgb(0, 0, 0);
}

.order-contact {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 45px;
}

.order-contact__main {
    width: calc(100% - 330px);
    padding-right: 40px;
    counter-reset: title 0;
}

.order-contact__title {
    width: fit-content;
    margin: 0px 0px 25px;
    position: relative;
    padding-left: 35px;
}

@media (max-width: 1100px) {
    .order-contact__title {
        justify-content: space-between;
    }
}

.order-contact__title-main {
    display: flex;
}

.order-contact__title-num {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 1px;
}

.order-contact__title-num::before {
    content: counter(title);
    counter-increment: title 1;
}

.order-contact__title-main h2 {
    font-weight: 700;
    display: inline;
    color: rgb(0, 0, 0);
    line-height: 1.15;
}

.order-contact__title h2 {
    font-weight: 700;
    margin: 0px;
    font-size: 22px;
    line-height: 1.15;
}

@media only screen and (max-width: 1020px) {
    h2 {
        font-size: 32px;
    }
}

.order-contact__user {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 620px;
}

.order-contact__user-contact {
    width: 285px;
    max-width: 48%;
}

.order-contact .inputbox {
    margin-bottom: 20px;
}

.inputbox {
    position: relative;
}

.inputbox label {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    color: black;
    padding-left: 10px;
}

.inputbox label strong {
    color: rgb(255, 52, 52);
    font-weight: 700;
    font-size: 13px;
}

.order-contact__user-phone .phonecode__phone .inputbox__input {
    width: 100%;
}

.inputbox__input {
    min-width: 285px;
    max-width: 100%;
    width: 100%;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 22px;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    line-height: 16px;
    color: rgb(0, 0, 0);
}

.inputbox__field + .inputbox__field {
    margin-top: 7px;
}

.order-contact__delivery-nav {
    font-size: 11px;
    color: rgb(0, 0, 0);
}

.order-contact__delivery-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media only screen and (max-width: 1150px) {
    .order-contact__delivery-row {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}

.checkout-radio {
    cursor: pointer;
    display: block;
}

.checkbox__input, .checkout-radio__input {
    position: absolute;
    white-space: nowrap;
    border: 0px;
    padding: 0px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0px, 0px, 0px, 0px);
    pointer-events: none;
}

.checkout-radio__input:checked + .checkout-radio__value {
    border: 1px solid rgb(0, 0, 0);
}

.checkout-radio .checkout-radio__value {
    padding: 15px 20px 15px 58px;
    height: 100%;
    justify-content: flex-start;
}

.checkout-radio__value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 35px;
    height: 70px;
    padding: 0px 20px 0px 58px;
    position: relative;
}

.checkout-radio__input:checked + .checkout-radio__value::before {
    background-color: rgb(0, 0, 0);
    border: 6px solid rgb(255, 255, 255);
    box-shadow: rgb(216, 216, 216) 0px 0px 0px 1px;
}

.checkout-radio .checkout-radio__value::before {
    top: 15px;
    transform: none;
}

.checkout-radio__value::before {
    content: "";
    width: 15px;
    height: 15px;
    box-shadow: rgb(216, 216, 216) 0px 0px 0px 1px;
    border-radius: 50%;
    border: 6px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 20px;
}

@media only screen and (max-width: 1020px) {
    .checkout-radio__value-name {
        font-size: 14px;
    }
}

.checkout-radio__value-name {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
    line-height: 1.15;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.checkout-radio__pricebox {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 300;
    margin-top: 3px;
    position: relative;
}

.checkout-radio__pricebox-text {
    background-color: rgb(255, 255, 255);
    color: rgb(122, 122, 122);
    position: relative;
    z-index: 1;
    padding-right: 3px;
    font-weight: 600;
}

.checkout-radio__pricebox-price {
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    padding-left: 3px;
    white-space: nowrap;
}

.checkout-radio__pricebox-price strong {
    font-weight: 600;
}

.checkout-radio__pricebox::after {
    content: "";
    border-top: 1px dotted rgb(122, 122, 122);
    width: 100%;
    position: absolute;
    left: 0px;
    top: 10px;
}

.order-list__i::after {
    content: "";
    border-top: 1px dotted rgb(122, 122, 122);
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.order-contact__pay {
    padding-bottom: 30px;
}

.order-contact__radio-row {
    display: flex;
    justify-content: space-between;
}

.order-contact__radio-row .checkout-radio {
    width: 48.5%;
}

.order-contact__pay-radio {
    display: none;
}

.order-contact__pay-radio:checked + .order-contact__pay-value {
    border: 1px solid rgb(0, 0, 0);
}

.order-contact__pay-radio:checked + .order-contact__pay-value::before {
    background-color: rgb(0, 0, 0);
    border: 6px solid rgb(255, 255, 255);
    box-shadow: rgb(216, 216, 216) 0px 0px 0px 1px;
}

.order-contact__pay-name {
    font-size: 16px;
    font-weight: 600;
}

.order-contact__pay-value {
    display: block;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 35px;
    padding: 18px 20px 18px 58px;
    position: relative;
}

.order-contact__pay-value::before {
    top: 25%;
    content: "";
    width: 15px;
    height: 15px;
    box-shadow: rgb(216, 216, 216) 0px 0px 0px 1px;
    border-radius: 50%;
    border: 6px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 20px;
}

.order-contact__submit {
    flex: 0 0 330px;
}

.order-contact__submit-in {
    padding-top: 0px;
    transition: padding 0.1s ease 0s;
    margin-bottom: 40px;
}

.order-contact__checkout {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
}

.order-contact__checkout-row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 15px;
}

.order-contact__checkout-label {
    font-size: 17px;
    font-weight: 700;
}

.order-contact__checkout-sum {
    font-size: 17px;
    font-weight: 600;
}

.order-contact__promocode {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.order-contact__promocode .inputbox-row {
    justify-content: flex-start;
}

.inputbox-row {
    display: flex;
    justify-content: space-between;
}

.order-contact__promocode .inputbox {
    margin-bottom: 0px;
}

.inputbox__input--wide {
    width: 100%;
    display: block;
}

.order-contact__promocode .inputbox--btn {
    margin-top: 19px;
    margin-left: 10px;
    width: 100px;
}

.order-contact__submit .order-btn {
    margin-bottom: 10px;
}

.btn--wide {
    display: block;
    width: 100%;
}

.btn_prim {
    text-decoration: none;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 25px;
    padding: 12px 0px;
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn_prim:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.order-btn {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.2s ease 0s;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 25px;
    padding: 12px 50px 12px 25px;
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.order-contact__promocode::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("https://arenter.ru/assets/images/dotted-grey.svg") repeat-x;
}

.all_sum_wrapper {
    position: relative;
}

.order-contact__total-sum {
    display: flex;
    font-size: 19px;
    justify-content: space-between;
    position: relative;
    padding-top: 20px;
}

.order-contact__total-sum-label {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.cart_all_sum {
    position: relative;
}

.order-contact__total-sum-num {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.order-contact__total-sum::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("https://arenter.ru/assets/images/dotted-grey.svg") repeat-x;
}

.order-contact__submit .btn {
    margin-bottom: 10px;
}

.order-btn .btn__icon {
    background-color: rgb(255, 255, 255);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__icon i {
    color: black;
    font-size: 18px;
}

.order-contact__user-fio {
    width: 285px;
    max-width: 48%;
}

@media screen and (max-width: 1160px) {
    .order-contact {
        flex-direction: column;
        align-items: center;
    }

    .order-contact__main {
        width: 80%;
        padding-right: 0px;
    }
}

@media screen and (max-width: 840px) {
    .order-list__i-name {
        display: block;
        width: 70%;
    }

    .inputbox__input {
        min-width: 230px;
    }

    .order-contact__pay-name {
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    .inputbox__input {
        min-width: 260px;
    }

    .order-contact__user {
        flex-direction: column;
    }

    .order-contact__radio-row {
        flex-direction: column;
        gap: 10px;
    }

    .order-contact__radio-row .checkout-radio {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .order-contact__title h2 {
        font-size: 18px;
    }

    .order-contact__title-num {
        font-size: 13px;
        width: 20px;
        height: 20px;
        top: 0px;
    }

    .checkout-radio__value-name {
        font-size: 13px;
    }

    .checkout-radio__pricebox {
        font-size: 10px;
    }

    .order-contact__pay-name {
        font-size: 12px;
    }

    .checkout-radio__value::before {
        width: 10px;
        height: 10px;
    }

    .order-contact__pay-value::before {
        width: 10px;
        height: 10px;
    }

    .order-contact__pay-value {
        padding: 15px 20px 15px 58px;
    }

    .inputbox__input {
        min-width: 100%;
        width: 100%;
    }

    .order-contact__user-contact {
        width: 100%;
        max-width: 100%;
    }

    .order-contact__user-fio {
        width: 100%;
        max-width: 100%;
    }

    .title-dotted span {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .order-contact__checkout-label, .order-contact__checkout-sum {
        font-size: 14px;
    }

    .btn_prim {
        font-size: 9px;
        padding: 7px 0px;
    }

    .inputbox__input--wide {
        padding: 7px 12px;
    }

    .inputbox label {
        font-size: 9px;
    }

    .order-contact__total-sum-label {
        font-size: 16px;
    }

    .order-contact__total-sum-num {
        font-size: 16px;
    }

    .order-contact__checkout {
        box-shadow: transparent 0px 0px, transparent 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        border: 0px solid rgb(0, 0, 0);
    }

    .order-contact__main {
        width: 100%;
        padding-right: 0px;
    }
}

@media (max-width: 1000px) {
    .order-list__i-price {
        margin-right: 0px;
    }

    .order-list__i-content {
        flex-wrap: wrap;
        flex: 0 0 60%;
        align-content: flex-start;
    }

    .order-list__i-namebox {
        width: 100%;
        padding: 0px 0px 20px;
        margin: 0px;
        position: relative;
    }

    .order-list__i-img img {
        max-height: 70%;
        height: auto;
        width: 70%;
        max-width: 100%;
    }

    .order-list__i-img {
        padding: 10px;
    }
}

@media (max-width: 1150px) {
    .order-list__i-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 750px) {
    .order-list__i-price-total {
        font-size: 26px;
    }

    .order-list__i-price-total .rub {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.48);
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 36px;
    }

    .rub i {
        color: white;
        font-size: 19px;
    }

    .order-list__i-price-total {
        gap: 6px;
    }

    .order-list__i-price-day {
        font-size: 9px;
    }

    .order-list__i-price-day strong {
        font-size: 15px;
    }
}

@media (max-width: 686px) {
    .order-list__i-available-text {
        font-size: 11px;
    }

    .datepicker__data {
        font-size: 11px;
    }

    .datepicker {
        width: 100%;
        max-width: 100%;
    }

    .order-list__datepicker {
        width: 100%;
    }

    .order-list__i-date {
        margin-top: 5px;
        margin-bottom: 7px;
    }
}

@media (max-width: 600px) {
    .order-list__i-imgbox {
        height: fit-content;
        width: fit-content;
    }

    .order-list__i-img {
        padding: 0px;
    }
}

@media (max-width: 1150px) {
    .container__navbar {
        padding: 20px 50px 20px 10px;
    }
}

@media (max-width: 960px) {
    .navbar a {
        margin-left: 15px;
    }
}

@media (max-width: 850px) {
    .navbar {
        display: none;
    }

    .container__navbar p {
        margin-left: 10px;
    }
}

@media (min-width: 850.1px) {
    .menu-burger {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .title-dotted span {
        font-size: 22px;
    }

    .title-dotted::after {
        top: 18px;
    }
}

@media screen and (max-width: 500px) {
    .order-list__i-imgbox {
        margin-top: 12px;
    }

    .order-list__i-name {
        display: block;
        width: 85%;
    }

    .order-list__i-type {
        font-size: 10px;
    }

    .order-list__i-name {
        font-size: 13px;
    }

    .order-list__i-price-total {
        font-size: 15px;
    }

    .order-list__i-price-total .rub {
        width: 15px;
        height: 15px;
    }

    .rub i {
        color: white;
        font-size: 13px;
    }

    .order-list__i-price-total {
        gap: 2px;
        line-height: 20px;
    }

    .order-list__i-price-day {
        font-size: 7px;
    }

    .order-list__i-price-day strong {
        font-size: 10px;
    }
}

@media (max-width: 430px) {
    .order-list__i {
        gap: 6px;
    }

    .order-list__i-available-text {
        font-size: 9px;
    }

    .order-list__i-namebox {
        padding: 0px 0px 6px;
    }

    .datepicker__data {
        font-size: 9px;
    }

    .datepicker {
        height: 17px;
    }

    .order-list__date {
        padding: 15px 15px 0px;
        margin-bottom: 12px;
    }

    .order-list__i {
        padding: 10px 0px;
    }

    .order-list__i-del {
        top: 10px;
    }
}

@media (max-width: 460px) {
    .order-list__i {
        gap: 6px;
    }
}

@media (max-width: 350px) {
    .order-list__i-date {
        margin-top: 5px;
        margin-bottom: 2px;
    }

    .order-list__i-imgbox {
        margin-top: 10px;
    }
}
