* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
	font-family: SF-display;
	src: url(fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
	font-family: SF-display-900;
	src: url(fonts/SF-Pro-Display-Black.otf);
}

.header_catalog {
    background-image: url(img/fon_catalog.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(50px + 54vw);
    max-height: 700px;
}

.header_content {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.text_header_content {
    position: relative;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_content span {
    font-weight: 500;
    font-family: 'Montserrat';
    font-size: 15px;
    color: #252525;
    text-transform: uppercase;
}

.header_content h2 {
    text-align: center;
	font-family: SF-display-900;
	margin-bottom: 20px;
	width: 100%;

	color: rgb(0, 0, 0);
    font-size: 70px;
    font-weight: 800;
    padding: 0px 20px;
}

.header_content p {
    font-weight: 500;
    padding: 0px 105px 0px 55px;
    text-align: left;
	font-family: 'Montserrat';
    font-size: 13px;

}

.header_catalog_btn {
    margin-left: 55px;
    padding: 10px 25px;
    align-self: flex-start;
    font-family: SF-display;
    background-color: black;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font-weight: 700;
    margin-top: 40px;
}


/*Styles for NavBar*/
.container__navbar {
    /* background-color: rgba(0, 0, 0, 0.432); */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.1));
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}



.container__navbar p {
    letter-spacing: 1.3px;
    text-transform: uppercase;
    z-index: 10;
	position: relative;
	font-family: 'Montserrat';
	font-size: 15px;
	color: rgb(255, 255, 255);
	font-weight: 600;
	text-decoration: none;
	margin-left: 40px;
}

.navbar a {
    text-transform: uppercase;
    letter-spacing: 1.3px;
    z-index: 10;
	position: relative;
	font-family: 'Montserrat';
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-weight: 600;
	text-decoration: none;
	margin-left: 40px;
}

.navbar a::before {
    z-index: 10;
	content: '';
	position: absolute;
	top: 110%;
	left: 0;
	width: 0;
	height: 1.9px;
	background: rgb(255, 255, 255);
	transition: .3s;
}

.navbar a:nth-child(3):before {
	width: 100%;
}

.navbar a:hover::before {
	width: 100%;
}

.footer {
    background-image: url(img/bg.jpg);
}

.container-footer {
    padding-top: 55px !important;
}



/*Main part of Catalog*/
.main_catalog {
    font-family: 'Montserrat';
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main_catalog_wrapper {
    width: 100%;
    padding: 0 25px;
    max-width: 1150px;

}

.main_catalog_title h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.main_catalog_title::after {
    content: "";
    height: 2px;
    width: 100%;
    left: 0;
    position: absolute;
    background: url(https://arenter.ru/assets/images/dotted-grey.svg) repeat-x;
}

.sorting_filter_btns {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8ed;
}

@media screen and (max-width: 545px) and (min-width: 320px) {
    .sorting_filter_btns {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn_filter {
        margin-top: 20px;
    }

}

/* .text_sorter, .text_filter {
    font-weight: 600;
    margin-right: 10px;
    margin-left: 10px;
} */

.btn_sorter, .btn_filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 20px 7px 20px;
    border-color: white;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 2px 16px rgba(0,0,0,.08);
}

.btn_sorter select, .btn_filter select {
    margin-left: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    outline: none;
    border: none;
}

.btn_sorter select option, 
.btn_filter select option {
    font-family: 'Montserrat';
    font-weight: 500;
}

.btn_sorter select option:hover, 
.btn_filter select option:hover {
    background: rgba(0, 0, 0, 0.267);
}

.catalog_choose_gandc {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
}

.product_card {
    padding: 10px;
    width: 275px;
    height: 540px;
}

.product_card:hover {
    box-shadow: 0 4px 16px 3px rgba(0, 0, 0, 0.1);

}

.product_card_wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.product_card_top {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    width: 100%;
}

.top_new, .top_hit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    border-radius: 7px;
}

.top_new {
    background-color: rgb(120, 183, 48);
}

.top_hit {
    background-color: #fe643a;;
}

.top_new span,
.top_hit span {
    text-transform: uppercase;
    padding: 3px 0px;
    font-weight: 700;
    font-size: 9px;
    color: white;
}


.product_card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 178px;
    width: 100%;
}

.image_changable {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: relative;
    width: 100%;
}

.image_base, .image_secondary {
    position: absolute;
}

.image_base img, .image_secondary img {
    height: auto;
    max-height: 178px;
    width: auto;
    max-width: 250px;
}

.image_base {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.image_secondary {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.product_card:hover .image_secondary {
    opacity: 1;
}

.product_card:hover .image_base {
    opacity: 0;
}

.product_card-title {
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
    color: black;
    font-size: 20px;
}

.product_card-text {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.product_card-price {
    margin: 0px 10px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.product_card-price::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 25%;
    left: 0;
    background: url(https://arenter.ru/assets/images/dotted-grey.svg) repeat-x;
}

.product_rent-time {
    /* border-radius: 10px;
    padding: 10px 10px; */
    color: #000;
    padding: 0px 5px;
    background-color: white;
    /* background-color: rgba(0,0,0,0.03); */
    position: relative;
    z-index: 1;
}

.rent-time_num {
    margin-top: 5px;
}

.rent-time_label {
    color: #878787;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.rent-time_num {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 700;
}

.rent-time_num strong {
    font-size: 16px;
    font-weight: 700;
}

.product_card-bottom {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-top: auto;
}

button.bottom_btn {
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 700;
    background-color: black;
    color:rgba(255, 255, 255, 0.737);
    padding: 10px 35px;
    transition: color 0.4s ease;
}

button.bottom_btn:hover {
    color: white;

}

.product_card:hover .product_card-bottom {
    opacity: 1;
}