* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 7.5)
}

@font-face {
	font-family: raleway-c;
	src: url(/fonts/raleway-regular.woff2);
}

@font-face {
	font-family: outfit-c;
	src: url(/fonts/outfit-regular.woff2);
}

@font-face {
	font-family: SF-display;
	src: url(/fonts/SF-Pro-Display-Bold.otf);
}
@font-face {
	font-family: SF-display-900;
	src: url(/fonts/SF-Pro-Display-Black.otf);
}

h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}


.navbar a:nth-child(1):before {
	width: 100%;
}

.content, .back-picture-consoles, .main-header, .gallery > * {
	will-change: transform;
}

.wrapper {
	background-image: url(/img/bg.jpg);
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
}

.back-picture-games {
	width: 100%;
	position: absolute;
	top: -120px;
	z-index: -1;
}

.back-picture-consoles {
	width: calc(var(--index) * 45);
	position: absolute;
	left: 27vw;
	top: 20vh;
	z-index: -1;
}

.main-header {
	display: flex; /*убрать это если надо*/
	height: 100vh;
	justify-content: center; /*убрать это если надо*/
}

.container {
	padding: 0 8vw;
}

.container-main-title {
	padding: 0 1vw;
}

.main-title {
	text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
	letter-spacing: 2.2vw;
	text-transform: uppercase;
	word-spacing: 1.5vw;
	text-align: center;
	/* font-size: calc(var(--index) * 6.6); */
	font-size: 78px;
	position: absolute;
	top: 42vh;
	line-height: .9;
	font-weight: 400;
	
}

.gallery {
	padding: calc(var(--index) * 8) 0;
	display: flex;
}

.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

.gallery__item {
	max-width: calc(var(--index) * 20);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}

.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}

.text-block {
	color: var(--color-text);
	position: relative;
	margin-left: -20px;
}

.text-block__h {
	padding-left: 42px;
    font-family: raleway-c;
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}

.text-block__h:before {
	font-family: 'PT Sans', sans-serif;
    transform: translateY(-50%);
    color: #000;
    background: #fff;
	content: "1";
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    transform: translateY(0);
	font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    min-width: 26px;
    border-radius: 1em;
    text-align: center;
    box-sizing: border-box;
    padding: 0.05em 0.4em;
}

.text-block__h3 {
    font-family: raleway-c;
	font-size: 1.3rem;
	color: var(--color-header);
	margin-top: 1rem;
	margin-bottom: 0.7rem;
	margin-left: 1rem;
}

.text-block__h3 i {
	margin-right: 10px;
}

.text-block__p {
	line-height: 1.4;
    font-family: 'Montserrat', serif;
	font-weight: 300;
	font-size: 14px;
	margin-left: 3rem;
}

.text-block__p__begin {
	padding-left: 42px;
}

.counter1::before {
	content: '2';
}

.counter2::before {
	content: '1';
}

.counter3::before {
	content: '3';
}


/*Styles for NavBar*/
.container__navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	background: transparent;
	justify-content: flex-end;
	align-items: center;
	z-index: 100;
}


.navbar a {
    text-transform: uppercase;
    letter-spacing: 1.3px;
    z-index: 10;
	position: relative;
	font-family: 'Montserrat';
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-weight: 600;
	text-decoration: none;
	margin-left: 40px;
}

.navbar a::before {
    z-index: 10;
	content: '';
	position: absolute;
	top: 110%;
	left: 0;
	width: 0;
	height: 1.9px;
	background: rgb(255, 255, 255);
	transition: .3s;
}

.navbar a:hover::before {
	width: 100%;
}




/******* Common Element CSS End *********/
  
/* -------- title style ------- */
.line-title {
	/* text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e1e, 
      0 2px 0 #2e2e2e1f, 
      0 3px 0 #2e2e2e12, 
      0 4px 0 #2e2e2e12, 
      0 5px 0 #2626260d; */
	font-family: outfit-c;
	margin-bottom: 48px;
	padding-bottom: 25px;
	font-weight: 700;
	line-height: 28px;
	font-size: 3vw;
	color: black;
	position: relative;
	width: 100%;
}

.line-title::before,
.line-title::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	border-radius: 2px;
}

.line-title::before {
	width: 100%;
	background: #f2f2f2;
}

.line-title::after {
	width: 100px;
	background: #e73700;
}

.item h3 {
	margin: 0 0 10px;
	font-size: 28px;
	line-height: 36px;
}

.item p {
	font-weight: 400;
	line-height: 18px;
	font-size: 1vw;
}
  
/******* Middle section CSS Start ******/
/* -------- Landing page ------- */

.game-section {
	background-color: white;
	padding: 90px 50px;
}

.game-section .owl-stage {
	margin: 15px 0;
	display: flex;
}

.game-section .item {
	margin: 0 15px 60px;
	width: 320px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	background: #343434 no-repeat center center / cover;
	border-radius: 16px;
	overflow: hidden;
	position: relative;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
}

.game-section .item.active {
	width: 500px;
	box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}


.game-section .item:after {
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
}

.game-section .item-desc {
	padding: 0 24px 24px;
	color: #fff;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transform: translateY(calc(100% - 54px));
	transition: all 0.4s ease-in-out;
}

.game-section .item.active .item-desc {
	transform: none;
}

.game-section .item-desc p,
.game-section .addto-cart {
	opacity: 0;
	transform: translateY(32px);
	transition: all 0.4s ease-in-out 0.2s;
}

.game-section .item.active .item-desc p,
.game-section .item.active .addto-cart {
	opacity: 1;
	transform: translateY(0);
}

.game-section .owl-theme.custom-carousel .owl-dots {
	margin-top: -20px;
	position: relative;
	z-index: 5;
}




.addto-cart {
	z-index: 2;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 24px;
	align-self: flex-end;
	justify-self: flex-end;
}

button.learn-more {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
}

button.learn-more {
	z-index: 2;
	width: 170px;
	height: auto;
}

button.learn-more .circle {
	transition: all 0.45s cubic-bezier(0.65,0,.076,1);
	position: relative;
	display: block;
	margin: 0;
	width: 30px;
	height: 30px;
	background: #ffffff;
	border-radius: 1.625rem;
}

.icon {
	transition: all 0.45s cubic-bezier(0.65,0,.076,1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: rgb(0, 0, 0);
}

.icon.arrow {
	transition: all 0.45s cubic-bezier(0.65,0,.076,1);
	left: 0px;
	width: 18.5px;
	height: 2.38px;
	background: none;
}

.icon.arrow::before {
	position: absolute;
	content: '';
	top: -5px;
	right: 0px;
	width: 10px;
	height: 10px;
	border-top: 2.4px solid #000000;
	border-right: 2.4px solid #000000;
	transform: rotate(45deg);
}

.button-text {
	font-size: 16px !important;
	width: 120px;
	transition: all 0.45s cubic-bezier(0.65,0,.076,1);
	position: absolute;
	top: 2px;
	left: 5px;
	right: 0;
	bottom: 0;
	margin: 0 0 0 20px;
	color: white;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
}

button.learn-more:hover .circle {
	width: 87%;
}

button.learn-more:hover .circle .arrow {
	background: rgb(0, 0, 0);
	transform: translate(14px, 0);
}

button.learn-more:hover .button-text {
	color: black;
}

button.learn-more.new-consoles .circle {
	background: #000000 !important;
}

.learn-more.new-consoles .icon.arrow::before {
	border-top: 2.4px solid #ffffff;
	border-right: 2.4px solid #ffffff;
}

.learn-more.new-consoles .button-text {
	color: black !important;
}

.learn-more.new-consoles:hover .button-text {
	color: black !important;
}

.learn-more.new-consoles:hover .circle .arrow {
	background: rgb(255, 255, 255) !important;
}

.learn-more.new-consoles:hover .button-text {
	color: white !important;
}



/* 
.container-new-consoles {
	max-width: 1100px;
} */

.section-new-consoles .container-new-consoles {
    display: grid;
    grid-template-columns: 45% 60%;
	grid-template-rows: 1fr;
	grid-template-areas: 
		"text console"; 
    grid-gap: 2vw;
    align-items: center;
    justify-content: center;
}


/* .section-new-consoles h1 {
    font-size: 3.1vw;
    color: #333;
} */

.container-text-newconsoles {
	grid-area: text;
}


.gradient-text {
	background-image: linear-gradient(
	  90deg,
	  rgb(118, 167, 63) 0%,
	  rgb(51, 143, 118) 40%,
	  rgb(55, 141, 167) 50%,
	  rgb(117, 152, 242) 70%,
	  rgb(144, 118, 236) 100%
	);
	color: transparent;
	background-size: contain;
	background-clip: text;
	-webkit-background-clip: text;
  }

/* .section-new-consoles p {
	font-family: 'Catamaran', sans-serif;
	font-size: calc(7px + 0.5vw);
	font-weight: 400;
	color: #333;
	margin: 1rem 0;
} */

.container-new-consoles img {
	grid-area: console;
	width: 100%;
}

.btn-new-consoles {
	text-decoration: none;
	font-family: 'Catamaran', sans-serif;
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;
}

.btn-new-consoles:hover{
    background: #444;
}



.section-for-rent {
    position: relative;
    background: url('https://dlcdnwebimgs.asus.com/files/media/92A296C4-BA56-40C2-A462-AE2729261A0B/main/v1/images/large/1x/bg_multi-uses_pro.jpg') no-repeat bottom center/cover;
    height: 600px;

}

.container-text-for-rent {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
}

.container-text-for-rent h3 {
    font-size: 2rem;
}

.container-text-for-rent h2 {
    font-size: 5rem;
    margin-top: 1rem;
}

.container-text-for-rent p {
	font-family: 'Catamaran', sans-serif;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.overlay-for-rent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}





.imgorinfo-info {
	display: none;
	margin-top: 2%;
	position: absolute;
	margin-left: 5%;
	width: 500px;
	opacity: 1;
	background-color: rgba(0,0,0, 0.7);
	border-radius: 30px;
	padding: 20px;
}

.active-block {
	display: flex !important;
	opacity: 1 !important;
}

.container-imgorinfo-info {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.container-imgorinfo-info li a {
    height: 100%;
    background-color: hsla(0,0%,100%,0);
    display: grid;
    grid-template-columns: 20% 70%;
    text-decoration: none;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    transition: background-color .4s ease;
	border-radius: 10px;
}

.container-imgorinfo-info li a:hover {
	background-color: rgba(10,10,10,0.9);
}

.container-imgorinfo-info li a:hover .info-txt p {
	font-weight: 700;
}

.container-imgorinfo-info li a:hover .info-pic img {
	transform: scale(1.2);
}

.container-imgorinfo-info img {
    width: 100%;
    display: block;
}

.info-pic img {
	transition: transform 0.2s ease-in-out;
	max-width: 70px;
}

.logo-win11 {
	padding-top: 15px;
	padding-bottom: 15px;
	max-width: 44px !important;
}

.info-txt p {
	margin: 10px;
	color: white;
	font-family: 'Montserrat';
	line-height: 1.4;
	font-weight: 100;
	font-size: 0.8vw;
}




.section-new-consoles { /* rgba(255, 255, 255, 0.87)  #fefefa*/
	display: flex;
	flex-direction: column;
	padding: 100px 0px;
	/* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0.732), rgba(255, 255, 255, 0.87)); */
	background-color: #fefefa;
}

.title-asusrogally {
	text-shadow: 50px 20px 50px rgba(0, 0, 0, 0.11);
	height: fit-content;
	left: 0;
	font-family: SF-display-900;
	font-size: 200px;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 800;

}

.title-asusrogally:nth-child(2) {
	margin-left: 500px;
}

img.asusrogally-img {
    top: 19%;
    position: absolute;
    width: 42%;
    height: auto;
}

.container-asus-rogally {
	transform: translate(0px);
	transition: transform 0.1s ease-in-out;
	position: relative;
}

.header-new-consoles {
	align-self: flex-start;
	margin-right: 50px;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title-new-consoles {
	text-align: center;
	position: relative;
	font-size: 60px;
	font-family: SF-display;
	color:rgba(22, 22, 22, 0.726);
}

.title-new-consoles::after {
	content: '';
	position: absolute;
	left: 20%;
	bottom: -5px;
	width: 60%;
	height: 2px;
	background: rgba(0, 0, 0, 0.371);
}

.text-new-consoles {
	font-size: 16px;
	width: 80%;
	align-self: center;
	font-weight: 600;
	text-align: left;
	line-height: 23px;
	margin-top: 30px;
	margin-right: 20px;
	font-family: SF-display;
	color:rgba(0, 0, 0, 0.5);
}

.container-learn-more {
	display: none;
	margin-top: 40px;
	margin-left: 60px;
	align-self: flex-start;
}

.btn-learn-more {
	font-family: SF-display;
	letter-spacing: 2px;
	font-size: 20px;
	color: rgba(255,255,255,0.8);
	padding: 10px 40px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 25px;
	transition: color 0.3s ease-in-out;
	cursor: pointer;
}

.btn-learn-more:hover {
	color: rgba(255,255,255,1);
}

.container-switcher {
	position: relative;
	display: flex;
	margin-top: 50px;
	justify-content: center;
	margin-bottom: 10px;
}

/* .container-switcher::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
	top: 50%;
    background: rgba(0, 0, 0, 0.084);
} */


.switcher {
	z-index: 10;
	padding: 3px;
    align-items: center;
    background-color: #f4f5f6;
    background-color: #F0F0F0;
    border-radius: 9999px;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.switcher .btn-switcher {
	cursor: pointer;
	border: 0px;
    align-items: center;
    border-radius: 9999px;
    display: flex;
	font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    line-height: 20px;
    padding: 10px 20px;
    width: fit-content;
}

.switcher .btn-switcher.btn-switcher-active {
    background-color: #fff;
    background-color: rgb(255 255 255);
    border-radius: 9999px;
}

.title-steamdeck {
	text-shadow: 50px 20px 50px rgba(0, 0, 0, 0.11);
	height: fit-content;
	text-align: right;
	font-family: SF-display-900;
	font-size: 200px;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 800;
}

.container-steam-deck {
	transform: translate(0px);
	transition: transform 0.1s ease-in-out;
	display:none;
	position: relative;
}

.title-steamdeck:nth-child(2) {
	margin-top:20%;
}

img.steamdeck-img {
    top: 18%;
	right: 0;
    position: absolute;
    width: 55%;
    height: auto;
}

.container-header-new-consoles {
	display:flex;
	flex-direction: row;
}

.container-text-new-consoles {
	top: 20%;
	right: 10%;
	position: absolute;
}

.container-text-new-consoles2 {
	top: 20%;
	left: 10%;
	position: absolute;
}

.text-new-console,.text-new-console2 {
	color:rgba(0, 0, 0, 0.7);
	font-family: SF-display-900;
	font-size: 50px;
}

.dud {
  color: rgb(149, 19, 181);
}