
@media screen and (max-width: 700px) and (min-width: 320px) {

	.section-new-consoles {
		display: flex;
		justify-content: center;
		background-color: white;
		padding: 50px 4vw;
	}

	.section-new-consoles p {
		font-size: calc(8px + 0.4vw) !important;
	}
	.container-new-consoles {
		width: 100% !important;
		grid-template-columns: 80% !important;
		grid-template-areas: 
			"console"
			"text" !important;
	}
	.section-new-consoles h1 {
		font-size: 6vw !important;
	}
	.button-text {
		margin: 0 0 0 25px !important;
	}
}

@media screen and (max-width: 353px) and (min-width: 320px) {
	.line-title {
		font-size: 26px;
	}
}

@media screen and (max-width: 900px) and (min-width: 320px) {
	.container-text-for-rent h2 {
		font-size: 11vw !important;
	}

	.container-text-for-rent h3 {
		font-size: 6vw !important;
	}

	.container-text-for-rent p {
		width: 80%;
		font-size: 5vw !important;
	}
}


@media (min-width: 992px) and (max-width: 1199px) {
	.item h2 {
	  margin-bottom: 32px;
	}
	.item h3 {
	  margin: 0 0 8px;
	  font-size: 24px;
	  line-height: 32px;
	}
  
	/* -------- Landing page ------- */
	.game-section {
	  padding: 50px 30px;
	}
	.game-section .item {
	  margin: 0 12px 60px;
	  width: 260px;
	  height: 360px;
	}
	.game-section .item.active {
	  width: 400px;
	}
	.game-section .item-desc {
	  transform: translateY(calc(100% - 46px));
	  -webkit-transform: translateY(calc(100% - 46px));
	}
}


@media (min-width: 768px) and (max-width: 991px) {
	.item h2 {
	  margin-bottom: 32px;
	}
	.item h3 {
	  margin: 0 0 8px;
	  font-size: 24px;
	  line-height: 32px;
	}
	.item p {
		font-size: 10px !important;
	}
  
	/* -------- Landing page ------- */
	.game-section {
	  padding: 50px 30px 40px;
	}
	.game-section .item {
	  margin: 0 12px 60px;
	  width: 240px;
	  height: 330px;
	}
	.game-section .item.active {
	  width: 360px;
	}
	.game-section .item-desc {
	  transform: translateY(calc(100% - 42px));
	  -webkit-transform: translateY(calc(100% - 42px));
	}
}
  

@media (max-width: 767px) {
	body {
	  font-size: 14px;
	}

	.addto-cart {
		padding: 13px;
	}

	.item p {
		font-size: 12px !important;
		line-height: 14px;
	}

	.item h2 {
	  margin-bottom: 20px;
	}
	.item h3 {
	  margin: 0 0 8px;
	  font-size: 18px;
	  line-height: 24px;
	}
  
	/* -------- Landing page ------- */
	.game-section {
	  padding: 40px 15px 80px;
	}
	.game-section .item {
	  margin: 0 10px 40px;
	  width: 200px;
	  height: 280px;
	}
	.game-section .item.active {
	  width: 270px;
	  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
	  -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
	}
	.game-section .item-desc {
	  padding: 0 13px 13px;
	  transform: translateY(calc(100% - 45px));
	  -webkit-transform: translateY(calc(100% - 42px));
	}
}

@media (max-width: 700px) {
	.line-title {
		font-size: 4.8vw;
	}
}

@media (min-width: 320px) and (max-width: 460px) {
	.line-title {
		font-size: 29px;
	}
}

