* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../img/MainBackground.png") cover no-repeat;
}

.navbar a:nth-child(2):before {
	width: 100%;
}

.app-header {
    display: block;
    background-image: url("../img/work/back_header_reviews.jpg");
    /* backdrop-filter: saturate(50%); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    height: 300px;
    z-index: 4;
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.black-layout {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}


.app-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 64px;  
    padding: 0 16px;
    pointer-events: none;
    font-size: 20px;
}

#large-toolbar {
    z-index: 4;
    position: absolute;
    bottom: 0;    
    transform-origin: left top;  
    margin-bottom: 24px;
    margin-bottom: 16px;
    width: 100%;
}

.small-title,
.large-title {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transform-origin: left top;
    white-space: nowrap;  
    flex: 1;
    flex-basis: 0.000000001px;
    overflow: hidden;  
    font-weight: 600;
    line-height: 1.5;  
    position: relative;
}


.small-title {
	top: 1.5px;
    margin-left: 14px;
    opacity: 0;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.large-title {
    letter-spacing: 4px;
    font-weight: 600;
    font-family: 'Montserrat';
    will-change: transform, opacity;
    font-size: 40px;
    margin-left: 64px;
}

.icon-button {
    display: inline-block;
    position: relative;  
    padding: 6px;  
    outline: none;
    user-select: none;
    font-size: 0;
    line-height: 1;
    width: 40px;
    height: 40px;
    box-sizing: border-box !important;
}

.icon-button .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    fill: currentcolor;
    stroke: none;
    width: 100%;
    height: 100%;
}


/*Styles for NavBar*/
.container__navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	background: transparent;
	justify-content: flex-end;
	align-items: center;
	z-index: 4;
}

.navbar a {
    text-transform: uppercase;
    letter-spacing: 1.3px;
    z-index: 4;
	position: relative;
	font-family: 'Montserrat';
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-weight: 600;
	text-decoration: none;
	margin-left: 40px;
}

.navbar a::before {
    z-index: 4;
	content: '';
	position: absolute;
	top: 110%;
	left: 0;
	width: 0;
	height: 1.9px;
	background: rgb(255, 255, 255);
	transition: .3s;
}

.navbar a:hover::before {
	width: 100%;
}


/*testimonial*/
.testimonial-area {
    /* background: url(img/work/play-console2.jpg); */
    padding: 30px 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.testimonial-area p {
    color: black;
    font-weight: 500;
}



.testimonial {
	box-shadow: -5px 10px 15px 5px rgba(0,0,0,0.3);
    padding: 20px;
    background: rgba(0, 0, 0, 0.03);
    position: relative;
    transform: scale(0.8); 
    padding-top: 100px;
    margin-top: 100px; 
    transition: all 0.3s linear; 
    border-radius: 20px;
}

.testimonials .slick-slide.slick-current.slick-active.slick-center .testimonial {
    transform: scale(1);
}

.author-img {
    position: absolute;
    width: 150px; 
    max-height: 150px; 
    border-radius: 200px;
    overflow: hidden;
    border: 5px solid black;
    top: -75px;
    left: 0;
    right: 0;
    margin: auto; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}

.img-fluid {
    max-width: 100%;
    max-height: auto;
}

.author-quote h4 {
    font-weight: 500;
    font-family: 'Montserrat';
    color: black;
    font-size: 25px;
    letter-spacing: 0.5px;
}

.author-quote {
    text-align: center;
}

.author-quote blockquote i {
    color: #ffbe00;
    font-size: 22px;
    padding: 0 5px;
}

.author-quote blockquote {
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 15px;
    background: rgba(0,0,0,0.03);
    border-radius: 20px;
    line-height: 30px;
    color: black;
    margin: 15px 0;
}

ul.slick-dots li button {
    font-size: 0;
    height: 14px;
    width: 14px;
    padding: 0;
    border-radius: 100px;
    border: 0;
    background: black;
    border: 2px solid #fff; 
    transition: all 0.3s ease;
}

ul.slick-dots li {
    display: inline-block;
    margin: 0 3px;
}

ul.slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul.slick-dots li.slick-active button {
    width: 30px;
}

.slick-arrow:after {
    content: "\f053";
    font-family: 'FontAwesome';
    font-size: 22px;
}

.slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    font-size: 0;
    margin: auto;
    border: 0;
    background: rgba(255,255,255,0.5); 
    z-index: 1;
    cursor: pointer;
}

.slick-next.slick-arrow{
    left:inherit; 
    right: 0;
}

.slick-next.slick-arrow:after{
    content:"\f054";
}

.testimonials .slick-list.draggable {
    padding: 0 20px !important;
}
/*end*/

.heading span {
    font-weight: 300;
    font-family: 'Montserrat';
    font-size: 21px;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.heading h2 {
	letter-spacing: 6px;
    text-align: center;
	font-family: 'Montserrat';
	margin-bottom: 20px;
	position: relative;
	width: 100%;

	color: white;
    font-size: 36px;
    font-weight: 500;
    background-color: #202020;
    padding: 10px 20px;
}
/* 
.heading h2:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	border-radius: 2px;
	width: 100%;
	background: #f2f2f2;
}

.heading h2:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	border-radius: 2px;
	width: 100px;
	background: #e73700;
} */

.heading p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    color: black;
}

.heading {
    width: 100%;
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/*media*/
@media (max-width:574px){
    .testimonials .slick-list.draggable {
        padding: 0!important;
    }
}

.client-review-stars i {
    font-size: 20px;
    color: #ffd832;
}

.client-review-stars {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.client-review-stars span {
    margin-left: 20px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.blockquote-footer::before {
    content: "\2014 \00A0";
}

.block-like-dislike {
    font-family: 'Montserrat';
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.block-like-dislike-1 {
    font-family: 'Montserrat';
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.block-like-dislike i {
    font-size: 25px;
}
.block-like-dislike-1 i {
    font-size: 25px;
}

.like i {
    color: black;
}
.like-1 i {
    color: black;
}

.dislike i {
    color: black;
}
.dislike-1 i {
    color: black;
}

.block-like-dislike .like {
    margin-right: 15px;
}

.block-like-dislike-1 .like-1 {
    margin-right: 15px;
}

.block-like-dislike .like,
.block-like-dislike .dislike {
    cursor: pointer;
    padding: 8px 12px 8px 12px;
    background-color: rgba(0,0,0, 0.05);
    border-radius: 20px;
}

.block-like-dislike-1 .like-1,
.block-like-dislike-1 .dislike-1 {
    cursor: pointer;
    padding: 8px 12px 8px 12px;
    background-color: rgba(0,0,0, 0.05);
    border-radius: 20px;
}

.like, .dislike {
    transition: transform 0.3s ease-in-out;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-around;
}

.like-1, .dislike-1 {
    transition: transform 0.3s ease-in-out;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-around;
}

.like p, .dislike p {
    font-size: 16px;
    color: black;
    font-family: 'Poppins';
    font-weight: 600;
    margin-left: 10px;
}

.like-1 p, .dislike-1 p {
    font-size: 16px;
    color: black;
    font-family: 'Poppins';
    font-weight: 600;
    margin-left: 10px;
}

.like-dislike {
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.like:hover, .dislike:hover {
    transform: scale(1.1);
}

.like-1:hover, .dislike-1:hover {
    transform: scale(1.1);
}

.time {
    margin-left: 10px;
    justify-content: left;
}

p.time-ofreview {
	font-size: 12px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.footer {
    background: url("../img/MainBackground.png");
}

.container-footer {
    padding-top: 55px !important;
}




#all-testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.all-testimonial-heading {
    width: 100%;
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.all-testimonial-heading h1 {
	letter-spacing: 6px;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}
.all-testimonial-heading span { 
    font-weight: 300;
    font-family: 'Montserrat';
    font-size: 21px;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box {
    z-index: 3;
    display: block;
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
}
.profile-img {
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile {
    display: flex;
    align-items: center;
}
.name-user {
    display: flex;
    flex-direction: column;
}
.name-user strong {
    font-family: 'Raleway';
    font-weight: 800;
    color: #3d3d3d;
    font-size: 17.6px;
    letter-spacing: 0.5px;
}
.name-user span {
    font-family: 'Montserrat';
    font-weight: 700;
    color: #979797;
    font-size: 0.8rem;
}
.reviews {
    font-size: 18px;
    justify-self: right;
    color: #f9d71c;
}
.reviews-rate {
    margin-left: 10px;
    color: black;
    font-size: 17px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p {
    font-family: 'Montserrat';
    line-height: 24px;
    font-weight: 500;
    font-size: 13px;
    color: #4b4b4b;
}
.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all 0.6s ease-in-out;
}

.dropdown_container_buttons {
	z-index: 4;
	max-width: 1030px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.sorting-reviews {
	padding-left: 35px;
	padding-right: 35px;
    max-width: 1030px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

button.dropdown-filter__btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.dropdown-filter__btn {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 272px;
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px 7px 15px;
    border-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(0,0,0,.08);
    position: relative;
    height: 100%;
}

.dropdown-filter__btn i {
    font-size: 16px;
}

.dropdown-filter__btn::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    transform-origin: 3px 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color: #b9b9c1;
    transition: transform .3s ease, border-color .3s ease;
    position: absolute;
    top: 11px;
    right: 12px;
}

.dropdown-filter__btn:hover::after {
    transform: rotate(135deg);
    border-color: #242424;
}

.dropdown-filter__content {
    display: none;
    width: 206.75px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    /* position: absolute; */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    background: #fff;
    z-index: 10;
}


button.dropdown-sorter__btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.dropdown-sorter__btn {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 272px;
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px 7px 15px;
    border-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(0,0,0,.08);
    position: relative;
    height: 100%;
}

.dropdown-sorter__btn::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    transform-origin: 3px 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color: #b9b9c1;
    transition: transform .3s ease, border-color .3s ease;
    position: absolute;
    top: 11px;
    right: 12px;
}


.dropdown-sorter__btn:hover::after {
    transform: rotate(135deg);
    border-color: #242424;
}

.dropdown-sorter__btn i {
    font-size: 16px;
}

.filter {
    width: 100%;
}

ul.filter__list {
    text-align: center;
    width: 100%;
    text-decoration: none;
    list-style: none;
}
.dropdown-filter__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter__item:hover {
    background-color: rgba(0, 0, 0, 0.051);
}

li.filter__item {
	align-items: center;
    border-bottom: 2px inset rgba(0, 0, 0, 0.050);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

i.fa-circle-thin {
    font-size: 20px;
}

span.filter-item-text {
    font-size: 13px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.filter-item-text i {
    font-size: 15px !important;
    color: black;
}


.dropdown-sorter__content {
    height: fit-content;
    width: 206.75px;
    width: 206.75px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    /* position: absolute; */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    background: #fff;
    z-index: 10;
}

.sorter {
    width: 100%;
}

ul.sorter__list {
    width: 100%;
    text-decoration: none;
    list-style: none;
}
.dropdown-sorter__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sorter__item:hover {
    background-color: rgba(0, 0, 0, 0.051);
}

li.sorter__item {
	align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px inset rgba(0, 0, 0, 0.050);
    padding: 10px;
}

span.sorter-item-text {
    font-weight: 600;
    font-family: 'Montserrat';
    font-size: 13px;
    color: black;
}

.dropdown_content_container {
	padding-left: 35px;
	padding-right: 35px;
    z-index: 2;
    margin-top: 335px;
    position: absolute;
    max-width: 1030px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

span.show_more_btn {
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.500);
}

.wrapper_leavefeedback {
    margin-top: 80px !important;
    max-width: 1150px;
    padding: 0 25px;
    margin: 0 auto;
}

.title_feedback {
    text-align: center;
    position: relative;
    font-weight: 900;
    margin: 0 0 1em;
}

.title_feedback h1 {
    max-width: 770px;
    font-family: 'Montserrat';
    font-size: 37px;
    line-height: 1.15;
    color: black;
    font-weight: 500;
    padding-left: 7px;
    display: inline-block;
    background: none #fff;
    padding-right: 7px;
    z-index: 1;
    position: relative;
}

.title_feedback::after {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: 40px;
    left: 0;
    background: url(https://arenter.ru/assets/images/dotted-grey.svg) repeat-x;
}

.leavefeedback_intro {
    margin-top: 35px;
    min-height: 240px;
    background: url("../img/phone/phone_message1.jpg") right bottom no-repeat;
    background-size: auto 270px;
    padding-right: 430px;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-bottom: -17px;
    color: #545454;
}

.leavefeedback_intro p {
    margin: 0 0 20px;
    font-family: 'Montserrat';
    font-size: 14px;
}
.leavefeedback_intro p:nth-child(1) {
    color: black;
    font-weight: bold;
    font-weight: 700;
    font-size: 17px;
}
.leavefeedback_intro p:nth-child(2),
.leavefeedback_intro p:nth-child(3) {
    font-weight: 500;
    line-height: 24px;
}

.leavefeedback_step {
    margin-bottom: 35px;
}

.leavefeedback_step_title {
    position: relative;
}

.leavefeedback_step_title h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    background-color: #fff;
    display: inline-block;
    padding-right: 5px;
    position: relative;
    z-index: 1;
    line-height: 1.15;
    margin: 0 0 20px;
}

.leavefeedback_step_title strong {
    display: inline-block;
    width: 36px;
    height: 35px;
    color: white;
    background-color: #000000;
    border-radius: 50%;
    margin-left: 8px;
    text-align: center;
}

.leavefeedback_step_title::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 17px;
    background: url(https://arenter.ru/assets/images/dotted-grey.svg) repeat-x;
}

.leavefeedback_step p {
    margin: 0 0 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.leavefeedback_form_container {
    margin-top: 50px;
}

.leavefeedback_form-row {
    display: flex;
    justify-content: space-between;
}

.leavefeedback_form-data {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
}

.leavefeedback_form-col {
    width: 40%;
}

.inputbox {
    position: relative;
    margin-bottom: 20px;
}

.inputbox label {
    font-family: 'Montserrat';
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 14px;
    color: #7a7a7a;
    padding-left: 10px;
}

textarea.check_field {
    height: 126px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.inputbox label strong {
    color: #ff3434;
    font-family: 'Montserrat';
    font-weight: 900;
    margin-left: 5px;
    font-size: 16px;
}

.inputbox__field {
    position: relative;
}

.inputbox__input {
    max-width: 100%;
    width: 100%;
    border: 1px solid #0000005e;
    border-radius: 22px;
    padding: 12px;
    background-color: #fff;
    line-height: 16px;
    color: #000;
}

.leavefeedback_form-message {
    width: 50%;
}

.leavefeedback_form-ps {
    font-weight: 400;
    font-family: 'Montserrat';
    color: #7f7f7f;
    margin-bottom: 13px;
    font-size: 13px;
}

.yellow {
    font-weight: 900;
    font-size: 16px;
    color: #ff3434;
}

.inputbox.inputbox--check {
    color: #848484;
}

.inputbox.inputbox--check label {
    padding-left: 0;
    font-size: 12px;
    text-transform: none;
}

.checkstyle + span {
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.2;
    position: relative;
    padding: 6px 0 5px 30px;
    min-height: 23px;
}

.checkstyle:checked+span::before {
    border: 1px solid #ffd734;
    box-shadow: 0 0 0 1px #ffd734;
    background: #fff url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2022.0.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2212.2px%22%20height%3D%229.2px%22%20viewBox%3D%220%200%2012.2%209.2%22%20style%3D%22enable-background%3Anew%200%200%2012.2%209.2%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0A%09.st0%7Bfill%3A%23231F20%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3Cg%3E%0D%0A%09%3Cg%3E%0D%0A%09%09%3Cg%3E%0D%0A%09%09%09%3Cg%3E%0D%0A%09%09%09%09%3Cpath%20class%3D%22st0%22%20d%3D%22M5.8%2C7.4L1.7%2C3.4C1.3%2C3%2C0.7%2C3%2C0.3%2C3.4c-0.4%2C0.4-0.4%2C1%2C0%2C1.4l4.1%2C4.1c0.4%2C0.4%2C1%2C0.4%2C1.4%2C0%0D%0A%09%09%09%09%09C6.2%2C8.5%2C6.2%2C7.8%2C5.8%2C7.4z%22%2F%3E%0D%0A%09%09%09%3C%2Fg%3E%0D%0A%09%09%3C%2Fg%3E%0D%0A%09%3C%2Fg%3E%0D%0A%09%3Cg%3E%0D%0A%09%09%3Cg%3E%0D%0A%09%09%09%3Cg%3E%0D%0A%09%09%09%09%3Cpath%20class%3D%22st0%22%20d%3D%22M11.8%2C0.2c-0.4-0.3-1-0.3-1.4%2C0.1L4.3%2C7.4C3.9%2C7.8%2C4%2C8.6%2C4.4%2C8.9c0.4%2C0.4%2C1.1%2C0.3%2C1.4-0.1l6.1-7.1%0D%0A%09%09%09%09%09C12.3%2C1.2%2C12.2%2C0.5%2C11.8%2C0.2z%22%2F%3E%0D%0A%09%09%09%3C%2Fg%3E%0D%0A%09%09%3C%2Fg%3E%0D%0A%09%3C%2Fg%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A) no-repeat 6px 6px;
}

.checkstyle {
    display: none;
}

.checkstyle+span::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: -7px;
    width: 23px;
    height: 23px;
    border: 1px solid #d2d2d2;
    background: #fff;
    border-radius: 50%;
}


.inputbox.inputbox--check a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dotted #848484;
}

.inputbox.inputbox--btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button.leavefeedback_sbm_btn {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 14px;
    padding: 12px 20px;
    background-color: #00000084;
    border: 1px solid #00000084;
    color: white;
    text-transform: uppercase;
}

.leavefeedback_sbm_btn {
    display: block;
    width: 80%;
    line-height: 16px;
    transition: all .2s ease;
    border-radius: 25px;
    position: relative;
    max-width: 100%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.leavefeedback_sbm_btn:hover {
    background-color: #000000b1;
}







/* media */
 
@media(max-width:1060px) {
    .testimonial-box {
        width:45%;
    }
}
@media(max-width:790px) {
    .testimonial-box {
        width:100%;
    }
    .testimonial-heading h1 {
        font-size: 1.4rem;
    }
}
@media(max-width:340px) {
    .box-top { 
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews {
        margin-top: 10px;
    }
}
::selection {
    color: #ffffff;
    background-color: #252525;
}



@media (max-width: 1150px) {
    .container__navbar {
        padding: 20px 50px 20px 10px;
    }
}


@media (max-width: 960px) {
    .navbar a {
        margin-left: 15px;
    }
}

@media (max-width: 1020px) {
    .heading h2 {
        font-size: 30px;
    }
    .heading span {
        font-size: 17px;
    }
    .all-testimonial-heading h1 {
        font-size: 30px;
    }
    .all-testimonial-heading span {
        font-size: 17px;
    }
}

@media (max-width: 880px) {
    .title_feedback h1 {
        max-width: 600px;
        font-size: 30px;
    }
    .author-quote h4 {
        font-size: 20px;
    }
    .author-quote blockquote {
        font-size: 14px;
    }
    .leavefeedback_form-row {
        gap: 30px;
        display: flex;
        justify-content: center;
    }
    .leavefeedback_form-col {
        width: 100%;
    }
    .leavefeedback_form-data {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (max-width: 755px) {
    .heading h2 {
        font-size: 24px;
    }
    .heading span {
        font-size: 14px;
    }
    .all-testimonial-heading h1 {
        font-size: 24px;
    }
    .all-testimonial-heading span {
        font-size: 14px;
    }
    .heading p {
        font-size: 11px;
    }
    .large-title {
        font-size: 30px;
        margin-left: 30px;
    }
}

@media (max-width: 556px) {
    .inputbox label {
        font-size: 10px;
    }
    .leavefeedback_form-ps {
        font-size: 8px;
    }
    button.leavefeedback_sbm_btn {
        font-size: 12px;
    }
    .yellow {
        font-size: 12px;
    }
    .inputbox label strong {
        font-size: 12px;
    }
}

@media (max-width:725px) {
    .title_feedback h1 {
        font-size: 25px;
        width: fit-content;
        max-width: 450px;
    }
}

@media (max-width: 800px) {
    .leavefeedback_intro {
        background: url(../img/phone/phone_message1.jpg) right bottom no-repeat;
        background-size: auto 270px;
        padding-right: 0px;
        padding-bottom: 280px;
    }
}

@media (max-width: 600px) {
    .app-toolbar {
        height: 40px;
    }
    .large-title {
        font-size: 24px;
        margin-left: 17px;
    }
    .leavefeedback_intro p {
        font-size: 12px;
    }
    .leavefeedback_step p {
        font-size: 12px;
    }
    .leavefeedback_intro p:nth-child(2), .leavefeedback_intro p:nth-child(3) {
        line-height: 18px;
    }
    .leavefeedback_step_title h2 {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 26px;
        background-color: #fff;
        display: inline-block;
        padding-right: 5px;
        position: relative;
        z-index: 1;
        line-height: 1.15;
        margin: 0 0 20px;
    }
    .leavefeedback_step_title strong {
        width: 30px;
        height: 30px;
    }
    .title_feedback h1 {
        font-size: 21px;
        max-width: 400px;
    }
}

@media (max-width: 460px) {
    .leavefeedback_intro {
        padding-bottom: 200px;
        background-size: auto 200px;
    }
}

@media (max-width: 503px) {
    .leavefeedback_form-row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .leavefeedback_form-data {
        width: 70%;
    }
    .leavefeedback_form-message {
        width: 70%;
    }
}

@media (max-width: 380px) {
    .leavefeedback_form-data {
        width: 90%;
    }
    .leavefeedback_form-message {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .large-title {
        font-size: 20px;
        margin-left: 17px;
    }
    .app-toolbar {
        height: 40px;
    }
    #large-toolbar {
        margin-bottom: 10px;
    }
}

@media (max-width: 555px) {
    .heading h2 {
        font-size: 18px;
    }
    .all-testimonial-heading h1 {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .large-title {
        font-size: 17px;
        margin-left: 10px;
    }
    .heading h2 {
        font-size: 16px;
    }
    .all-testimonial-heading h1 {
        font-size: 16px;
    }
    .title_feedback h1 {
        font-size: 18px;
        max-width: 300px;
    }
    .leavefeedback_intro p:nth-child(1) {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .dropdown-sorter__btn,
    .dropdown-filter__btn {
        width: 150px !important;
        padding: 5px 40px 7px 15px;
    }
    .dropdown-filter__content,
    .dropdown-sorter__content {
        width: 150px;
        padding: 10px;
    }
    .text_btn {
        font-size: 11px;
    }
    .dropdown-sorter__btn i,
    .dropdown-filter__btn i {
        font-size: 12px;
    }
    span.filter-item-text,
    span.sorter-item-text {
        font-size: 10px;
        vertical-align: center;
        font-weight: 500;
    }
    li.filter__item {
        padding: 8px 6px;
    }
    i.fa-circle-thin {
        font-size: 16px;
    }
    .filter-item-text i {
        font-size: 13px !important;
        color: black;
    }
    .dropdown_content_container {
        margin-top: 270px;
    }
}

@media (max-width: 420px) {
    .reviews {
        font-size: 14px;
        justify-self: right;
        color: #f9d71c;
    }
    .reviews-rate {
        font-size: 14px;
    }
}